.row
  .col-xs-12
    %h1
      Listing websites
      = link_to new_website_path, class: "btn btn-primary-outline pull-right" do
        = fa_icon "plus", class: "fa-space-r"
        New
    %hr

.row
  .col-xs-12
    .card-columns
      - @websites.each do |website|
        .card
          - if website.current_screenshot
            %img.card-img-top{:alt => "Card image cap", "data-src" => website.current_screenshot.image.url(:medium)}/
          - else
            .card-block.card-inverse.card-info.text-xs-center
              %blockquote.card-blockquote
                %p
                  Congratulations!
                  %br You're watching a new website.
                %footer
                  It will show up here on the next run.
          .card-block
            %h4.card-title= website.url
            %p.card-text
              %small.text-muted
                - if website.current_screenshot
                  %time.timeago{datetime: website.current_screenshot.created_at.iso8601}= website.current_screenshot.created_at
                - else
                  %em No screenshots have been taken
            = link_to 'Refresh', refresh_website_path(website), class: 'card-link'
            = link_to 'Show', website, class: 'card-link'
            = link_to 'Edit', edit_website_path(website), class: 'card-link'
            = link_to 'Destroy', website, class: 'card-link text-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }
