.row
  .col-xs-12
    %h1
      Listing websites
      .pull-right
        = link_to new_website_path, class: "btn btn-primary-outline" do
          = fa_icon "plus", class: "fa-space-r"
          New
    %hr

.row
  .col-xs-12
    .card-columns
      - @websites.each do |website|
        .card.website{onclick: "window.location = '#{website_path(website.id)}/'"}
          - if website.current_screenshot
            %img.card-img-top.card-img-flex{:alt => "Card image cap", "data-src" => website.current_screenshot.image.url(:medium)}/
          - else
            .card-block.card-inverse.card-info.text-xs-center
              %blockquote.card-blockquote
                %p
                  Congratulations!
                  %br You're watching a new website.
                %footer
                  It will show up here on the next run.
          .card-block
            %h6.card-title= website.url
            %p.card-text
              %small.text-muted
                - if website.current_screenshot
                  = fa_icon "clock-o", class: "fa-space-r"
                  %time.timeago{datetime: website.current_screenshot.created_at.iso8601}= website.current_screenshot.created_at
                - else
                  %em No screenshots have been taken
