%p#notice= notice

%p
  %b Url:
  = @website.url

.row
  .card-deck-wrapper
    .card-deck
      - @website.screenshots.limit(10).order(created_at: :desc).each do |screenshot|
        .col-sm-4
          .card.card-inverse
            %img.card-img-top{:alt => "Card image cap", "data-src" => screenshot.image.url(:medium)}/
            .card-block
              = link_to 'Remove', @website, class: 'card-link text-danger pull-xs-right', :method => :delete, :data => { :confirm => 'Are you sure?' }
              %p.card-text
                %small.text-muted
                  %time.timeago{datetime: screenshot.created_at.iso8601}= screenshot.created_at

= link_to 'Edit', edit_website_path(@website)
\|
= link_to 'Back', websites_path
