- if notice
  %p#notice= notice

.row
  .col-xs-12
    %h1
      = @website.url
      = link_to edit_website_path(@website), class: "btn btn-primary-outline pull-right" do
        = fa_icon "pencil", class: "fa-space-r"
        Edit
      = link_to refresh_website_path(@website), class: "btn btn-primary-outline pull-right" do
        = fa_icon "refresh", class: "fa-space-r"
        Refresh
    %hr

.row
  .col-xs-12
    - if @website.screenshots.empty?
      %p.alert.alert-info.col-xs-12
        = fa_icon "info-circle", class: "fa-space-r"
        No screenshots have been taken yet.
        = link_to refresh_website_path(@website) do
          Take one now
          = fa_icon "angle-right"
    .card-deck-wrapper
      .card-deck
        - @website.screenshots.limit(10).order(created_at: :desc).each do |screenshot|
          .col-sm-4
            .card.card-inverse
              %img.card-img-top{:alt => "Card image cap", "data-src" => screenshot.image.url(:medium)}/
              .card-block
                = link_to 'Remove', @website, class: 'card-link text-danger pull-xs-right', :method => :delete, :data => { :confirm => 'Are you sure?' }
                %p.card-text
                  %small.text-muted
                    %time.timeago{datetime: screenshot.created_at.iso8601}= screenshot.created_at
