%p#notice= notice

%p
  %b Url:
  = @website.url

%ul
  - @website.screenshots.order(created_at: :desc).each do |screenshot|
    %li
      %p= screenshot.created_at
      = image_tag screenshot.image.url(:thumb)

= link_to 'Edit', edit_website_path(@website)
\|
= link_to 'Back', websites_path
