.row
  .col-xs-12
    %h1
      = @website.url
      .pull-right
        .btn-group
          = link_to refresh_website_path(@website), title: "Refresh", class: "btn btn-primary-outline" do
            = fa_icon "refresh"
          = link_to edit_website_path(@website), class: "btn btn-primary-outline", title: "Edit" do
            = fa_icon "pencil"
          = link_to @website, class: 'btn btn-primary-outline', title: "Destroy", :method => :delete, data: { confirm: 'Are you sure?' } do
            = fa_icon "trash"
    %hr

- if @website.screenshots.empty?
  .row
    .col-xs-12
      %p.alert.alert-info.col-xs-12
        = fa_icon "info-circle", class: "fa-space-r"
        No screenshots have been taken yet.
        = link_to refresh_website_path(@website) do
          Take one now
          = fa_icon "angle-right"
- @website.screenshots.limit(10).order(created_at: :desc).each do |screenshot|
  .row
    = render screenshot
    .col-xs-12
      %hr
