.row
  .col-xs-12
    %h1
      = @website.url
      .pull-right
        = link_to edit_website_path(@website), class: "btn btn-primary-outline" do
          = fa_icon "pencil", class: "fa-space-r"
          Edit
        = link_to refresh_website_path(@website), class: "btn btn-primary-outline" do
          = fa_icon "refresh", class: "fa-space-r"
          Refresh
    %hr

- if @website.screenshots.empty?
  .row
    .col-xs-12
      %p.alert.alert-info.col-xs-12
        = fa_icon "info-circle", class: "fa-space-r"
        No screenshots have been taken yet.
        = link_to refresh_website_path(@website) do
          Take one now
          = fa_icon "angle-right"
- @website.screenshots.limit(10).order(created_at: :desc).each do |screenshot|
  .row
    .col-sm-6
      .card
        %img.card-img-top{:alt => "Card image cap", "data-src" => screenshot.image.url(:medium)}/
      .card-block
        %p.card-text
          %small
            %time.timeago{datetime: screenshot.created_at.iso8601}= screenshot.created_at
    .col-sm-6
      - if screenshot.has_diff?
        - if screenshot.diff_image?
          .card
            %img.card-img-top{:alt => "Card image cap", "data-src" => screenshot.diff_image.url(:medium)}/
        .card-block
          - diff_class = screenshot.is_different? ? "text-danger" : ""
          %p.card-text{class: diff_class}
            %small
              - if screenshot.is_different?
                %strong= "Changed #{screenshot.diff_percent}%"
              - else
                = "Changed #{screenshot.diff_percent}%"
            %small.pull-right
              Generated
              %time.timeago{datetime: screenshot.diff_date.iso8601}= "screenshot.diff_date"
        - if not screenshot.diff_image?
          %p.alert.small.text-muted.center
            = fa_icon "info-circle", class: "fa-space-r"
            %em No difference image was saved
      - else
        .card.card-inverse
          .card-block.card-inverse.card-info.text-xs-center
            %blockquote.card-blockquote
              %p Changes haven't been computed for this image.
              %footer
                It could still be processing, or a newer screenshot was taken.
    .col-xs-12
      %hr
