.col-md-4
  .card
    = render "screenshots/image", image: screenshot.image, object: screenshot, group: "image"
- if screenshot.diff?
  .col-md-4
    - if screenshot.diff_image?
      .card
        = render "screenshots/image", image: screenshot.diff_image, object: screenshot, group: "diff_image"
    - else
      %p.alert.small.text-muted.center
        %em No difference from previous screenshot
  .col-md-4
    .card-block
      - diff_class = screenshot.different? ? "text-danger" : ""
      %p.card-text{class: diff_class}
        %small
          - if screenshot.different?
            %strong= "Changed #{screenshot.diff_percent}%"
          - else
            = "No Change (#{screenshot.diff_percent}%)"
        %br
        %small
          = fa_icon "clock-o", class: "fa-space-r"
          %time.timeago{datetime: screenshot.diff_date.iso8601}= screenshot.diff_date.to_formatted_s(:long_ordinal)
- else
  .col-md-8
    .card.card-inverse
      .card-block.card-inverse.card-info.text-xs-center
        %blockquote.card-blockquote
          %p Changes haven't been computed for this image.
          %footer
            It could still be processing, or a newer screenshot was taken.
