!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %meta{content: "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %title Webwatch
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      - if flash[:notice].present? || flash[:alert].present?
        .row
          - if flash[:notice].present?
            .col-xs-12.alert.alert-info{role: 'alert'}
              = fa_icon "info-circle", class: "fa-space-r"
              = flash[:notice]
          - if flash[:alert].present?
            .col-xs-12.alert.alert-danger{role: 'alert'}
              = fa_icon "warning", class: "fa-space-r"
              = flash[:alert]
      = yield
