!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %meta{content: "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %title Webwatch
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .pos-f-t
      .navbar.navbar-dark.bg-inverse.navbar-static-top
        %a.navbar-brand{:href => "#"} Web Watch
        %ul.nav.navbar-nav
          - if current_user
            %li.nav-item
              %a.nav-link{:href => root_path} Home
            %li.nav-item
              %a.nav-link{:href => websites_path} Websites
            %li.nav-item
              %a.nav-link{ href: auth_auth0_logout_path } Logout
          - unless current_user
            / TODO: refactor
            %script{ src: "https://cdn.auth0.com/js/lock/10.2/lock.min.js" }
            :javascript
              var lock = new Auth0Lock(
              '#{Rails.application.secrets.auth0_client_id}',
              '#{Rails.application.secrets.auth0_domain}', {
                auth: {
                  redirectUrl: window.location.origin + '/auth/auth0/callback',
                  responseType: 'code',
                  params: {
                    scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
                  }
                }
              });
            %button.btn.btn-primary.nav-link{ onclick: "lock.show(); this.blur();" } Login

    .container
      - if flash[:notice].present? || flash[:alert].present?
        .row
          - if flash[:notice].present?
            .col-xs-12.alert.alert-info{role: 'alert'}
              = fa_icon "info-circle", class: "fa-space-r"
              = flash[:notice]
          - if flash[:alert].present?
            .col-xs-12.alert.alert-danger{role: 'alert'}
              = fa_icon "warning", class: "fa-space-r"
              = flash[:alert]
      = yield
